In [9]:
# @TODO: Import libraries
import csv
from pathlib import Path
import pandas as pd

# @TODO: Set file paths for menu_data.csv and sales_data.csv
menu_filepath = Path('menu_data.csv')
sales_filepath = Path('sales_data.csv')

# @TODO: Initialize list objects to hold our menu and sales data
menu = []
sales = []

In [12]:
menu_df = pd.read_csv(menu_filepath)
menu_df.head()

,item,category,description,price,cost
0,edamame,appetizers,"boiled soybeans, maldon sea salt",4.0,1
1,house salad,appetizers,"mixed greens, cherry tomatoes, cucumber, house...",4.0,2
2,cucumber sunomono salad,appetizers,"cucumber, ponzu dressing, pickled ginger sprou...",5.0,2
3,hiyashi wakame seaweed salad,appetizers,"sweet soy-marinated wakame seaweed threads, pi...",5.0,2
4,agedashi tofu,appetizers,"tempura battered tofu, katsuobushi, tsuyu brot...",5.0,2

In [13]:
sales_df = pd.read_csv(menu_filepath)
sales_df.head()

,item,category,description,price,cost
0,edamame,appetizers,"boiled soybeans, maldon sea salt",4.0,1
1,house salad,appetizers,"mixed greens, cherry tomatoes, cucumber, house...",4.0,2
2,cucumber sunomono salad,appetizers,"cucumber, ponzu dressing, pickled ginger sprou...",5.0,2
3,hiyashi wakame seaweed salad,appetizers,"sweet soy-marinated wakame seaweed threads, pi...",5.0,2
4,agedashi tofu,appetizers,"tempura battered tofu, katsuobushi, tsuyu brot...",5.0,2

In [17]:
# # @TODO: Read in the menu data into the menu list
with open(menu_filepath, "r") as menu_file:
    menu_line = csv.reader(menu_file, delimiter=",")
    next(menu_line, None)
    for row in menu_line:
        # row=[item, cat, des, price, cost]
        item = (row[0])
        category = (row[1])
        description = (row[2])
        price = float(row[3])
        cost = float(row[4])
        menu.append(row)

In [18]:
# # @TODO: Read in the sales data into the sales list
with open(sales_filepath, "r") as sales_file:
    sales_line = csv.reader(sales_file, delimiter=",")
    next(sales_line, None)
    for row in sales_line:
        line_item_id = float(row[0])
        date = (row[1])
        credit_card_number = float(row[2])
        quantity = float(row[3])
        menu_item = (row[4])

        sales.append(row)

In [21]:
# @TODO: Initialize dict object to hold our key-value pairs of items and metrics
report = {}

# Initialize a row counter variable
row_count = 0

# @TODO: Loop over every row in the sales list object
for each_sale in sales: 
    line_item_id = int(each_sale[0])
    date = each_sale[1]
    credit_card_number = each_sale [2]
    quantity = int(each_sale[3])
    sale_item = each_sale[4]
    if sale_item not in report.keys(): 
        report[sale_item] = {
           "01-count": 0,
           "02-revenue": 0,
           "03-cogs": 0,
           "04-profit": 0
}

    row_count += 1
  
    # Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
    # If the item value not in the report, add it as a new entry with initialized metrics
    # Naming convention allows the keys to be ordered in logical fashion, count, revenue, cost, profit
    for menu_item in menu:
        item = menu_item[0]
        if (sale_item == item): 
            # match
            category = menu_item[1]
            description = menu_item[2]
            price = float(menu_item[3])
            cost = float(menu_item[4])


    # @TODO: For every row in our sales data, loop over the menu records to determine a match


        # Item,Category,Description,Price,Cost
        # @TODO: Initialize menu data variables

    


        # @TODO: Calculate profit of each item in the menu data
            profit = price - cost
            
        #report 
            report [sale_item]["01-count"] += quantity
            report [sale_item]["02-revenue"] += price * quantity
            report [sale_item]["03-cogs"] += cost * quantity
            report [sale_item]["04-profit"] += profit * quantity
print(report)

{'spicy miso ramen': {'01-count': 9238, '02-revenue': 110856.0, '03-cogs': 46190.0, '04-profit': 64666.0}, 'tori paitan ramen': {'01-count': 9156, '02-revenue': 119028.0, '03-cogs': 54936.0, '04-profit': 64092.0}, 'truffle butter ramen': {'01-count': 8982, '02-revenue': 125748.0, '03-cogs': 62874.0, '04-profit': 62874.0}, 'tonkotsu ramen': {'01-count': 9288, '02-revenue': 120744.0, '03-cogs': 55728.0, '04-profit': 65016.0}, 'vegetarian spicy miso': {'01-count': 9216, '02-revenue': 110592.0, '03-cogs': 46080.0, '04-profit': 64512.0}, 'shio ramen': {'01-count': 9180, '02-revenue': 100980.0, '03-cogs': 45900.0, '04-profit': 55080.0}, 'miso crab ramen': {'01-count': 8890, '02-revenue': 106680.0, '03-cogs': 53340.0, '04-profit': 53340.0}, 'nagomi shoyu': {'01-count': 9132, '02-revenue': 100452.0, '03-cogs': 45660.0, '04-profit': 54792.0}, 'soft-shell miso crab ramen': {'01-count': 9130, '02-revenue': 127820.0, '03-cogs': 63910.0, '04-profit': 63910.0}, 'burnt garlic tonkotsu ramen': {'01-count': 9070, '02-revenue': 126980.0, '03-cogs': 54420.0, '04-profit': 72560.0}, 'vegetarian curry + king trumpet mushroom ramen': {'01-count': 8824, '02-revenue': 114712.0, '03-cogs': 61768.0, '04-profit': 52944.0}}

In [20]:
# @TODO: Print total number of records in sales data
print(row_count)

74124

In [23]:
# @TODO: Write out report to a text file (won't appear on the command line output)
output_path = Path("pyramen_output.txt")
text_file = open("pyramen_output.txt", "w")
text_file.write(f"{report}\n")
text_file.write(f"{row_count}")
text_file.close()